.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  width: 1500px;
  overflow: hidden;
}

a {
    text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: grid;
  margin: 0;
  position: relative;
  
  /* выше установили ограничения для секции */
}

.logo_place_header {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header-logo {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  left: 932px;
}

.header__title {
  width: 730px;
  height: 96px;
  display: flex;
  font-size: 102px;
  font-weight: 600;
  margin-top: 200px;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  height: 25px;
  font-weight: normal;
  font-size: 18px;
  position: absolute;
  top: 630px;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  display: contents;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  left: 735px;
  top: 148px;
}

.content {
  display: grid;
}

.content__description {
  margin: 100px 0;
  position: relative;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 137px;
  margin-top: 32px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  position: relative;
  top: -50px;
  left: 11px;
}

.two-columns__main-text {
  margin: -68px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-left: 240px;
  margin-bottom: -30px;
}

.two-columns__span-accent {
  font-weight: 700; 
}

.digits {
  position: relative;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
  width: 60%;
  margin-block-start: 0;
  margin-left: 585px;
  margin-block-end: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 20px 0 60px 738px;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman_background_pic {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.feinman {
  height: 100vh;
  min-height: 600px;
  max-height: 790px;
  margin: 100px 0 0 0;
  background-color: #f2f2f2;
  position: relative;
}

.feinman__title {
  width: 648px;
  margin-left: 503px;
  line-height: 1.15;
  text-align: center;
  font-size: 120px;
  font-weight: 700;
  z-index: 2;
  position: relative;
  margin-block-start: 100px;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding-left: 669px;
  z-index: 3;
  position: relative;
  margin-block-end: 0;
  margin-block-start: 0;
}

.feinman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 39px;
  top: 473px;
  text-decoration: none;
  color: black;
  z-index: 4;
}

.kaufman {
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
}

.section-title_theme_dark {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin-left: 500px;
}

.section-subtitle_theme_dark {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  position: relative;
  left: 666px;
  bottom: 20px;
}

.table_theme_dark {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 21px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  bottom: 59px;
  z-index: 1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  text-align: initial;
}

.footer__columns {
  width: 90%;
  margin: 0px 70px;
  display: flex;
  justify-content: flex-end;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  margin-top: -191px;
  margin-left: 72px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  margin-left: 45px;
}

.logo_place_footer_pic {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-left: 72px;
  margin-top: 273px;
}

.footer__column_content_info {
  width: 150px;
  list-style-type: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer__column-links {
  line-height: 15px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  width: 150px;
  list-style-type: none;
  margin-left: 291px;
}

.footer__social-icon img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer__column-links_social {
  line-height: 15px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

 
